[Desktop Entry]
Version=1.0
Name=VLC-stream
GenericName=Media player
Comment=Read, capture, broadcast your multimedia streams
Name[it]=Lettore multimediale VLC
GenericName[it]=Lettore multimediale
Comment[it]=Legge, acquisisce e trasmette i tuoi flussi multimediali
Exec=/home/[username]/.local/share/applications/vlc-stream.sh %u
TryExec=/usr/bin/vlc
Icon=vlc
Terminal=false
Type=Application
Categories=AudioVideo;Player;Recorder;
MimeType=x-scheme-handler/vlcs;
X-KDE-Protocols=ftp,http,https,mms,rtmp,rtsp,sftp,smb
Keywords=Player;Capture;DVD;Audio;Video;Server;Broadcast;
Name[it_IT]=vlc-stream
